.section2 {
    height: 100vh;
    min-height: 100vh;
    background: url(../img/bg-03.jpg) center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start none;


    h2 {
        font-family: $font1;
        letter-spacing: 2px;
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 108px;
    }

    h4 {

        font-family: $font1;
        font-weight: 100;
        font-size: 0.9em;
        border-bottom: 1px solid black;
        cursor: pointer;
    }

    .button-config {
        margin-top: 450px;
        cursor: pointer;

        button {
            padding: 10px 80px;
            font-family: $font1;
            font-size: 0.9em;
            font-weight: 600;
            margin-left: 20px;
            color: black;
            cursor: pointer;


        }

        .button-noir {
            color: white;
            padding: 10px 25px;
        }
    }




}